//---Marigold CSS 09/03/24---//
@fe-block-height:25.8px;

html{
--c-border:1px solid currentColor;
--w-border: 1px solid var(--white);
--l-border: 1px solid var(--light);
--a-border: 1px solid var(--accent);
--d-border: 1px solid var(--dark);
--b-border: 1px solid var(--black);
--clear:transparent;
--trans: all .3s ease;
--scroll-behavior: smooth;
scroll-behavior: smooth;
scroll-padding-top: 10vh!important;}

/*Site Background Color*/
body{background-color:var(--body-background)!important;}


//---TYPOGRAPHY---//
/*Body Font*/
.sqsrte-small, p, .sqsrte-large, .header-nav-item{
font-weight:var(--body-weight)!important;
font-feature-settings:
var(--inter-features)!important;
font-family: var(--inter), var(--body), sans-serif!important;}

/*H2 + H3*/
H2, H3{
margin-bottom:10px;}

/*H3 Strong Italic*/
h3 strong em{
font-size:1.4em;
font-style:normal;
letter-spacing:-.03em;}

/*MEGA*/
h1 strong, h2 strong, h3 strong, h4 strong{
font-weight:400;
font-size:var(--mega-font-size);
line-height:.85!important;
letter-spacing:-.035em!important;
@media screen and (max-width:767px){
font-size:var(--mega-font-size-mobile);
letter-spacing:-.03em!important;}}

/*Header Italic Font*/
H1 em, H2 em, H3 em, H4 em{
text-transform:none!important;
letter-spacing:-.02em;}

/*Body Italic*/
.sqsrte-small em, p em, .sqsrte-large em{
font-family:var(--heading)!important;
font-style:italic;
font-weight:unset;
font-size:1.3em;
line-height:1.2;
letter-spacing:-.02em;}

/*Body Bold (Small Uppercase)*/
p strong, .sqsrte-small strong, .sqsrte-large strong{
font-size:.8em;
letter-spacing:.08em;
font-weight:500;
text-transform:uppercase!important;
font-style:normal;}

/*Add Underline on Hover*/
p a, .header-nav-item:hover{
text-decoration:underline!important;
text-decoration-thickness:1px!important;
text-underline-offset: 4px!important;}

/*Mobile Nav*/
.header-title-text a, .header-menu-nav-item{
font-family:var(--heading);
letter-spacing:-.02em;}
.header-menu-cta .sqs-button-element--primary{
font-size:11px!important;}

/*Custom List Items*/
ul[data-rte-list]{
padding-left:18px;}
ul[data-rte-list] li{
position:relative!important;}
ul[data-rte-list] li>*:before{
display:none!important;}
ul[data-rte-list] li p:not(:has(> span)):after {
content:var(--list-icon);
position: absolute;
left: -18px;
top:0;}
ul[data-rte-list] li span:after{
content:var(--list-icon);
position: absolute;
left: -18px;
top:0;
color: inherit!important;}



//---BUTTONS---//
/*Core Button Structure*/
.sqs-block-button-element--small, .sqs-block-button-element--medium, .sqs-block-button-element--large, .header-actions .btn, .header-menu-cta a, button[type="submit"], .lightbox-handle.sqs-button-element--primary{
font-weight:var(--button-weight)!important;
font-feature-settings:
var(--inter-features)!important;
font-family: var(--inter), var(--body), sans-serif!important;
display:flex!important;
align-items:center!important;
justify-content:center!important;
white-space: nowrap!important;
transition:var(--trans)!important;}

/*Button Arrows*/
.sqs-button-element--primary:after, .sqs-button-element--secondary:after, .sqs-button-element--tertiary:after, .header-actions .btn:after, .header-menu .header-menu-cta a:after, .newsletter-form .newsletter-form-button:after, button[type="submit"]:after, .lightbox-handle.sqs-button-element--primary:after{
display:flex!important;
content:"→";
line-height:0!important;
margin-left:4px;
transform:rotate(0deg);
transition:transform .3s ease;}

/*Buttons Arrow Rotate on Hover*/
.sqs-block-button-container--left:hover, .sqs-block-button-container--right:hover, .sqs-block-button-container--center:hover, .header-actions-action--cta:hover, .newsletter-form-button-wrapper:hover, .form-button-wrapper:hover, .lightbox-handle-wrapper:hover{
.sqs-block-button-element--small:after, .sqs-block-button-element--medium:after, .sqs-block-button-element--large:after, .btn:after, .newsletter-form-button:after, button[type="submit"]:after, .lightbox-handle.sqs-button-element--primary:after{
transform:rotate(180deg)!important;
transition:transform .3s ease;}}

/*Header Buttons*/
.header-actions .btn, .header-menu .header-menu-cta a{
align-items:center;
justify-content:center;}

/*Secondary Main*/
.sqs-button-element--secondary{
background:transparent!important;
font-weight:var(--body-weight)!important;}

/*Left, Right, Center Wraps*/
.sqs-block-button-container--left, 
.sqs-block-button-container--center, .sqs-block-button-container--right, .header-actions-action--cta, .newsletter-form-button-wrapper a{
border-radius:var(--button-radius)!important;}

/*Left Button*/
.sqs-block-button-container--left{
width:fit-content!important;
margin-right:auto!important;}

/*Center Button*/
.sqs-block-button-container--center{
width:fit-content!important;
margin:0 auto!important;}

/*Right Button*/
.sqs-block-button-container--right{
width:fit-content!important;
margin-left:auto!important;}


//---CONTACT FORM---//
@media screen and (max-width:767px){
.sqs-block-form.sqs-background-enabled{
padding: 50px var(--sqs-mobile-site-gutter)!important;}}

/*Field Title*/
.sqs-block-form .field-list .title{
font-family: var(--inter), var(--body), sans-serif!important;
font-feature-settings:
var(--inter-features);
position:relative!important;
width:fit-content!important;}

/*Field Text / Focus Adjustment*/
.sqs-block-form{
input, select, textarea, radio, checkbox, .caption-text{
font-family: var(--inter), var(--body), sans-serif!important;
font-feature-settings:
var(--inter-features);
transition:var(--trans)!important;
outline-offset: 3px!important;
outline:1px solid transparent;
&:focus{
outline:1px solid var(--tweak-form-block-stroke-color);}}
::placeholder, select.show-placeholder, .form-input-prefix{
font-family: var(--inter), var(--body), sans-serif!important;
font-feature-settings:
var(--inter-features);
color:var(--tweak-form-block-stroke-color)!important;
opacity:1!important;}}

/*Replace "reqired" with "*" */
.form-wrapper .field-list .description.required{
visibility: hidden; 
font-family: var(--inter), var(--body), sans-serif!important;
font-feature-settings:
var(--inter-features);
font-size:0!important;
&:after{
visibility: visible; 
position:absolute;
top:4px;
opacity:.4;
right:0;
content:'*'!important;
font-weight:var(--bold-weight)!important;
font-size:12px;}}

/*Form Button*/
.form-submit-button{
height:50px!important;}


//---LIGHTBOX FORM---//
.sqs-modal-lightbox-content .lightbox-inner .lightbox-content{
border-radius:var(--global-radius);
max-width:550px;
padding:80px 60px;}

.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .lightbox-close{
top:80px;
right:60px;
border-radius:var(--global-radius);
font-size:0!important;
padding:10px;
&:after{
font-weight:300!important;
font-size:26px;
content:"×";
margin-bottom:3px!important;
font-family:var(--inter)!important;}
height:20px;
width:20px;
display:flex;
align-items:center;
justify-content:center;
color:var(--dark)!important;
background:var(--white);
transition:var(--trans)!important;
&:hover{
transition:var(--trans)!important;
color:var(--accent)!important;}}

/*Lightbox Submit Button*/
.sqs-modal-lightbox-content .form-submit-button {
width:100%!important;}



//---NEWSLETTER---//
/*Newsletter Form*/
.newsletter-form{
display:flex!important;
align-items:center!important;}

/*Remove Header + Footnote*/
.newsletter-block .newsletter-form-header, .newsletter-form-footnote{display:none;}

/*Remove Padding, Margin, MinW*/
.newsletter-form-button-wrapper, .newsletter-form-fields-wrapper, .newsletter-form-field-wrapper,
.field.email.required,
.field.name.required{
min-width:unset!important;
margin:0!important;
padding:0!important;
-webkit-animation: .3s ease 0s normal forwards 1 flexload;
animation: .3s ease 0s normal forwards 1 flexload;}

/*FLOAT*/
/*Wrapper Alignment*/
.newsletter-form-wrapper--layoutFloat.newsletter-form-wrapper--alignCenter .newsletter-form{
justify-content:center!important;
align-items:center!important;}
.newsletter-form-wrapper--layoutFloat.newsletter-form-wrapper--alignLeft .newsletter-form{
justify-content:flex-start!important;
align-items:flex-start!important;}
.newsletter-form-wrapper--layoutFloat.newsletter-form-wrapper--alignRight .newsletter-form{
justify-content:flex-end!important;
align-items:flex-end!important;}

.newsletter-form-wrapper--layoutFloat{
.newsletter-form-fields-wrapper, fieldset{
display:flex!important;
@media screen and (min-width:700px){
flex-direction:row!important;
gap:10px!important;}
@media screen and (max-width:700px){
flex-direction:column!important;
gap:10px;}}
/*Newsletter Form Body*/
.newsletter-form-body{
gap:10px!important;
padding:0!important;
width:fit-content;
@media screen and (max-width:700px){
flex-direction:column!important;
align-items:stretch!important;
width:100%!important;
gap:10px!important;}
position:relative;
display:flex;
align-items:center;}
/*Newsletter Button Wrapper*/
.newsletter-form-button-wrapper{
left:0!important;
position:relative!important;
height:100%!important;
@media screen and (min-width:700px){
left:5px;}}
/*Newsletter Button*/
.newsletter-form-button{
padding: 15px 20px!important;
display:flex!important;
position:relative!important;
align-items:center!important;
justify-content:center;
border-radius:var(--global-radius)!important;
&:before{
border-radius:var(--global-radius)!important;}
&:hover{
opacity:1!important;}
@media screen and (max-width:700px){ width:100%!important;}
transition:var(--trans)!important;}  }

/*STACK*/
/*Align Wrppers*/
.newsletter-form-wrapper--layoutStack.newsletter-form-wrapper--alignCenter .newsletter-form{
justify-content:center!important;
align-items:center!important;}
.newsletter-form-wrapper--layoutStack.newsletter-form-wrapper--alignLeft .newsletter-form{
justify-content:flex-start!important;
align-items:flex-start!important;}
.newsletter-form-wrapper--layoutStack.newsletter-form-wrapper--alignRight .newsletter-form{
justify-content:flex-end!important;
align-items:flex-end!important;}

.newsletter-form-wrapper--layoutStack{
.newsletter-form-fields-wrapper, fieldset{
max-width:unset!important;
display:flex!important;
flex-direction:column!important;
gap:5px;}
/*Newsletter Form Body*/
.newsletter-form-body{
text-align:center!important;
padding:0!important;
width:100%;
max-width:500px;
position:relative;
display:flex!important;
align-items:stretch!important;
flex-direction:column!important;
gap:8px;
align-items:center;}
.newsletter-form-field-wrapper{  
max-width:unset!important;}
/*Form Field*/
.newsletter-form-field-element{
text-align:center!important;}
/*Button*/
.newsletter-form-button, .newsletter-form-button-wrapper{
border-radius:var(--global-radius)!important;
margin:0!important;
width:100%!important;}
.newsletter-form-button{
padding:14px!important;
&:hover{
opacity:1!important;}}}

/*Newsletter Field Styles*/
.sqs-block-newsletter .newsletter-form-field-element{
min-width:15rem!important;
padding: 15px!important;
border-radius:var(--global-radius)!important;
border:none!important;
-webkit-border-radius:var(--global-radius)!important;
transition:var(--trans)!important;
outline-offset: 3px;
outline:1px solid transparent;
background: var(--secondary-color);
color:var(--alt-color)!important;
&::placeholder{
color:var(--alt-color)!important;
opacity:.5;}
&:focus{
outline:1px solid var(--accent-color)!important;
background: var(--secondary-color);}
@media screen and (max-width:767px){
text-align:center!important;}}



//---PORTFOLIO---//
.portfolio-hover[data-horizontal-align="left"][data-mode="hover-cover"] .portfolio-hover-items-list{
width:100%;
max-width:var(--sqs-site-max-width)!important;
padding:0!important;
margin:0 auto!important;}

/*Inset Sections Mobile + Tab*/
@media screen and (max-width:1300px){
.portfolio-hover[data-horizontal-align="left"][data-mode="hover-cover"] .portfolio-hover-items-list{
padding-left: 2vw!important;
padding-right: 2vw!important;
margin:2vw auto!important;}}

/*Inset Sections Mobile + Tab*/
@media screen and (max-width:767px){
.portfolio-hover[data-horizontal-align="left"][data-mode="hover-cover"] .portfolio-hover-items-list{
padding-left: 6vw!important;
padding-right: 6vw!important;
margin:6vw auto!important;}}

/*Masonry Gallery 1 Column Mobile*/
@media screen and (max-width:767px){
.gallery-masonry-wrapper.gallery-masonry-list--ready{
height: auto !important;
display:flex;
flex-direction:column!important;
gap:var(--sqs-mobile-site-gutter);}
  
figure.gallery-masonry-item {
position: relative !important;
width: 100% !important;
transform: unset !important;}
.gallery-masonry-item-wrapper {
 height: auto !important;}
.gallery-masonry .gallery-masonry-item[data-loaded] img {
width: 100% !important;}}



//---POLAROID SECTION---//
/*Change Title to Marker Font*/
.list-item-content__title{
font-family:"Rock Salt"!important;
font-size:18px!important;
line-height:1.4!important;
text-transform:none!important;
padding-bottom:10px;}

/*List Item Overflow Disabled*/
.user-items-list-carousel .list-item[data-is-card-enabled="true"]{
overflow:hidden!important;}

/*MAKE CAROUSEL CLICKABLE*/
.user-items-list{
li.list-item {
position: relative !important;}
  
/*List Item Button Container*/
.list-item-content__button-container{
position: absolute !important;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin-top:0!important;}
 
/*List Item Button*/
a.list-item-content__button.sqs-block-button-element {
cursor:pointer!important;
color:transparent!important;
padding:0;
border:none!important;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
color: transparent !important;
background-color: transparent !important;}}

/*Allow Click on Image Link*/
.list-item {
pointer-events:unset;}

/*Hide List Item Description*/
.list-item-content__description{
display:none!important;}

/*Make Arrows Container Smaller*/
.user-items-list-carousel__arrow-button{
display:none;}

.user-items-list-carousel__media-inner img{transform:scale(1)!important;
transition:var(--trans)!important;}

.user-items-list-carousel__slide.list-item:hover{
img{transform:scale(1.1)!important;
transition:var(--trans)!important}}


//---NAVIGATION---//
/*Remove underline from active*/
.header-nav-item--active a, body:not(.header--menu-open) .header-nav-folder-item--active .header-nav-folder-item-content{
background-image:none!important;
text-decoration:none!important;
background:none!important;}

/*Add underline to nav hover*/
.header-nav-item--collection:hover{
text-decoration:underline!important;
text-underline-offset:3px;}



//---PAGINATION---//
.item-pagination[data-collection-type^="portfolio"]{
padding-top:2vw;
padding-bottom:2vw;}

/*REMOVE Standard Arrow Container*/
.item-pagination-link .item-pagination-icon, .item-pagination-link .item-pagination-icon svg{display:none!important;}

/*Pagination Container*/
.item-pagination--prev-next{
display:flex!important;
justify-content:space-between!important;
max-width:var(--sqs-site-max-width);
margin:0 auto;}

/*Pagination Wrapper*/
.item-pagination-link--next, .item-pagination-link--prev{
background-color:var(--light)!important;
display:flex;
flex-direction:column;
padding:30px 40px;
width:100%;
transition:var(--trans)!important;}
.item-pagination-link--prev{
margin-right:1vw!important;
align-items:flex-start;}
.item-pagination-link--next{
margin-left:1vw!important;
align-items:flex-end!important;}

/*Give Links Margin on Tablet Width*/
@media screen and (max-width:1250px){
.item-pagination-link--prev{
margin-right:1vw!important;
margin-left:0;}
.item-pagination-link--next{
margin-right:0;
margin-left:1vw!important;}}

/*Center Pagination if Only Child*/
.item-pagination-link--prev:only-child, .item-pagination-link--next:only-child{
max-width:520px!important;
margin:0 auto!important;
text-align:center!important;
align-items:center!important;}

/*Previous Sub*/
.item-pagination-link--prev:before{
content:"Previous";
font-size:12px;
letter-spacing:.04em!important;
color:var(--dark);
padding-bottom:7px;
opacity:.5;}
.item-pagination-link--prev{
margin-right:unset;}

/*Next Sub*/
.item-pagination-link--next:before{
content:"Next";
font-size:12px;
letter-spacing:.04em!important;
color:var(--dark);
padding-bottom:7px;
opacity:.5;}
.item-pagination-link--next{
margin-left:unset;}

/*Next Title*/
.item-pagination-title{
font-family:var(--heading)!important;
font-size:1.2em!important;
letter-spacing:.018em!important;
letter-spacing:.02em;
max-width:400px;
color:var(--dark)!important;
line-height:1.35em!important;
transition:var(--trans)!important;
margin:0!important;}

/*Pagination Link Hover*/
.item-pagination-link:hover{
opacity:.8;
transition:var(--trans)!important;}

/*MOBILE Pagination Styles*/
@media screen and (max-width: 767px){
.item-pagination-link--next, .item-pagination-link--prev{
padding:4vw;
min-width:80vw!important;
margin:0 auto!important;
align-items:center!important;
text-align:center!important;}
.item-pagination-link--next{
margin-top:6vw!important;}  
.item-pagination[data-collection-type^="portfolio"]{
padding-top:4vw!important;
padding-bottom:10vw!important;
justify-content:space-between!important;
flex-direction:column;}

/*Center Pagination if Only Child*/
.item-pagination-link--prev:only-child, .item-pagination-link--next:only-child{
max-width:300px!important;
margin:0 auto!important;
text-align:center!important;
align-items:center!important;}}



//---ACCORDION---//
/*Accordion Title*/
.accordion-item__title{
font-family: var(--inter), var(--body), sans-serif!important;
font-weight:var(--bold-weight);}

/*Accordion Item*/
.accordion-item{
margin:10px 0!important;
@media screen and (max-width:767px){
margin:16px 0!important;}
border-radius:var(--global-radius)!important;
-webkit-border-radius:var(--global-radius)!important;
overflow:hidden!important;
outline:1px solid transparent!important;
transition:var(--trans); 
&:hover{
outline:1px solid var(--tweak-accordion-block-stroke-color)!important;
transition:var(--trans);}}

/*Accordion*/
.accordion-item__title-wrapper, .accordion-item__description{
background-color:var(--secondary-color)!important;}

/*Adjust Spacing Mobile*/
@media screen and (max-width:767px){
.accordion-item:first-child{
margin-top:0px!important;}}

/*Accordion Plus Container*/
.accordion-icon-container {
display: flex !important;
align-items: center !important;
justify-content: center !important;
background-color: var(--tweak-accordion-block-stroke-color);
padding: 5px;
border-radius: 50px;}

/*Accordion Plus*/
.plus{
height:10px !important;
width:10px !important;
left:unset !important;
top:unset !important;}



//---CAROUSEL SECTIONS---//
/*Carousel Button*/
.tweak-global-animations-animation-type-flex.primary-button-style-outline [data-section-theme="black"] .user-items-list-simple .list-item[data-is-card-enabled="true"] .list-item-content__button{
font-size:10px;}

/*Carousel Card Height*/
[data-section-theme="black-bold"] .user-items-list-carousel .list-item[data-is-card-enabled="true"]{height:400px;
align-content:top!important;}

/*Split Section Adjustment*/
.wm-split-sections:not(:first-child) .page-section:first-child{ 
  padding-top:unset;}


//---SITE-WIDE---//
/*Flex Load Animation*/
@keyframes flexload{
0%{
transform:translateY(30px);
opacity:0;}
100%{
transform:translateY(0px);
opacity:1;}}
@-webkit-keyframes flexload{
0%{
transform:translateY(20px);
opacity:0;}
100%{
transform:translateY(0px);
opacity:1;}}

/*Main Icon Class*/
.sm-icon{
height:35px;
width:35px;}

/*Icon Text Wrap*/
.icon-text-wrap{
padding-left:15px!important;}

/*Icon Header*/
.icon-header{
line-height:1.5;
font-family:var(--inter);
letter-spacing:-.02em;
font-size:18px;
font-weight:500;
text-transform:none;}

/*Icon Text*/
.icon-text{
opacity:.6;}

/*Remove Margin Icon Copy*/
.icon-header, .icon-text{
margin:0!important;}

/*Icon Center*/
.icon-center{
display:flex;
margin:0 auto;
margin-bottom:-20px!important;
align-items:center;
justify-content:center;}

/*Icon Left*/
.icon-left{
display:flex;
align-items:center;
justify-content:left;
margin:10px 0!important;}

/*Social Buttons*/
.sqs-block-socialaccountlinks-v2{
padding-bottom:10px!important;}



//---FOOTER---//
footer{
/*Remove Underlines*/
p a{text-decoration:none!important;}

/*Make Footer Two Columns*/
@media screen and (max-width:767px){
div.col.sqs-col-2.span-2{
width: 50% !important;
float: left !important;}}


/*Add Arrow on Hover to Em Links*/
p a{
font-size:.8em;
letter-spacing:.08em;
font-weight:500;
text-transform:uppercase!important;
line-height:1.8!important;
position: relative;
font-style:normal;
font-weight:500!important;}

@media screen and (min-width:767px){
p a:after{
font-family:var(--inter)!important;
content: "→";
font-weight:400!important;
position: absolute;
opacity: 0;  
transition: var(--trans);
font-weight:500;}
p a:hover:after{
opacity: 1;
margin-right: 30px;
padding-left: 4px;}}}

/*Arrow Links Display Footer*/
#footer-sections .sqs-block-html a{
display:unset;}



//---MESA OS---//
/*Content Align Bottom: Card*/
section.vertical-alignment--bottom{
z-index:100!important;
.content-wrapper{
padding-top:0px!important;
padding-bottom:0px!important;
margin-top:calc(@fe-block-height*-2)!important;
margin-bottom:calc(@fe-block-height*-2)!important;
border-radius:30px;
margin:0 auto;
max-width:var(--sqs-site-max-width);}}

/*Rounded Section Tops*/
section.vertical-alignment--top{
.section-background{
top:calc(@fe-block-height*-2)!important;
z-index:1!important;
border-radius:50px 50px 0px 0px!important;}
/*Move Section Content Up*/
.content-wrapper{
z-index:1!important;}}

//---INSET SECTIONS---//
/*Inset Sections Mobile + Tab*/
.tweak-blog-basic-grid-width-inset .blog-basic-grid, .tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic, .tweak-products-width-inset .products.collection-content-wrapper, .tweak-events-stacked-height-medium .events{
 padding-left:0!important;
 padding-right: 0!important;
 margin:0 auto!important;}

/*Inset Sections Mobile + Tab*/
@media screen and (max-width:1250px){
.tweak-blog-basic-grid-width-inset .blog-basic-grid, .tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic, .tweak-products-width-inset .products.collection-content-wrapper, .tweak-events-stacked-height-medium .events{
padding-left: 2vw!important;
padding-right: 2vw!important;
margin:2vw auto!important;}}

/*Inset Sections Mobile + Tab*/
@media screen and (max-width:767px){
.tweak-blog-basic-grid-width-inset .blog-basic-grid, .tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic, .tweak-products-width-inset .products.collection-content-wrapper, .tweak-events-stacked-height-medium .events{
padding-left: 6vw!important;
padding-right: 6vw!important;
margin:6vw auto!important;}}
